.slide_list {
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.slide_item {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  list-style: none;
}

.slide_item:hover {
  background-color: #e0e0e0;
}

.slide_item.active {
  background: #ccc;
  color: white;
  border-color: black;
}