.header {
    padding: 10px;
}

.instrumental_pannel {
    display: block;
    border: 1px solid grey;
    padding: 1%;
}

.presentation_name {
    margin: 10px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 1px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin: 2%;
}

button:hover {
    background-color: #0056b3;
}

.color_button {
    padding: 5px;
    color: black;
    cursor: pointer;
}

.image_upload_button {
    padding: 5px;
    cursor: pointer;
}